.first-bg-color {
  background-color: #212224;
}
.search_color {
  background-color: #28292b !important;
}
.search_input {
  position: absolute;
  color: white;
  top: 11px;
  left: 11px;
}
input::placeholder {
  padding-left: 1.3rem !important;
  font-size: 14px;
}
.second-bg-color {
  background-color: #28292b;
  border-radius: 25px;
}
.navbar-toggler-icon{
  filter: invert(1);
}
.button {
  background: #df5d8b !important;
}
.Discover-button {
  background-color: #df5d8b;
  bottom: -20px; 
  left: 50%;
  transform: translateX(-50%);
}
.owl-nav {
  position: absolute;
  display: block;
  color: wheat;
  top: -50px;
  right: 1rem;
}
.owl-dots {
  display: none;
}
.owl-border-radius {
  border-radius: 27px;
}
.star-img {
  height: 15px;
  width: 15px !important;
}


.featuredGames {
  background-color: #212224;
  border-radius: 25px;
  width: 65%;
}

.banner {
  background-image: url("/images/banner-bg.jpg");
  background-repeat: no-repeat;
  border-radius: 25px;
  background-size: cover;
}
.bg-28292b {
  background-color: #28292b;
}
.Discover-button {
  background-color: #df5d8b;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
/* .live_stream {
  border: 1px solid #636363;
  border-radius: 15px;
} */
.pink-text {
  color: #df5d8b;
}
.text-gray {
  color: gray;
}
.star-img {
  height: 15px !important;
  width: 15px !important;
}
.img-border {
  border-radius: 25px !important;
}
.download-arrow {
  background-color: #38393a;
}
/* .section-bg-color {
  background-color: #030303;
} */
/* .arrow-position {
  align-items: end;
  justify-content: end;
  display: flex;
  padding-bottom: 1rem;
} */

.search-border {
  border-radius: 15px !important;
  border: none !important;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
/* .fs-20 {
  font-size: 20px;
} */
/* .fs-34 {
  font-size: 34px;
} */
.border-line {
  border-bottom: 1px solid rgb(44, 43, 43);
}
.nav-link{
  color: white !important;
}
.borde{
  border: 1px solid rgb(77, 74, 74);
}


@media only screen and (max-width:280px){
  .Discover-button{
    font-size: 10px;
  }
  .download-transparent{
    padding: 0.25rem 0.55rem !important;
  }
}



@media only screen and (min-width:280.99px) and (max-width:430px) {
  .second-bg-color{
    max-width: 90% !important;
  }
  .Discover-button{
    font-size: 10px !important;
  }
 
  
}

@media screen and(max-width:820px) {
  .nav-link {
    color: #030303 !important;
  }
  .copy-right{
    width: 100%;
  }
  .bottom-text{
    font-size: 12px !important;
  }
}
.card-footer{
  border: none !important;
}
